.footer{
    width: 100%;
    height: 100%;
    background: rgb(11, 12, 17);
}

.footer-policy{
    width: 100%;
    border-top: 1px solid #413C3C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px 0;

}
.footer-policy-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
.footer-policy-links{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
}
.footer-policy-link{
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #ADADAD;
}


.footer-policy-payment{
    display: flex;
    gap: 10px;
    align-items: center;
}


.footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-info-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 57px 0 82px 0;
    border-top: 1px solid #413C3C;
}

.footer-info-nav{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-info-nav-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-info-nav-item-title{
    font-weight: 700;
    font-size: 21px;
    line-height: 60px;
    color: #D9D9D9;
}
.footer-info-nav-item-link{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #ADADAD;
}

@media (max-width: 1072px) {
    .footer-info-wrapper{
        padding: 40px 5%;
    }
}

@media (max-width: 790px) {
    .footer-info-nav{
        display: none;
    }
    .footer-info-wrapper{
        padding: 0 5%;
        border-top: none;
        justify-content: center;
    }
    .footer-policy{
        border-top: none;
        padding: 0 0 40px 0;
    }
    .footer-policy-wrapper{
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .footer-policy-links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
    .footer-policy-link{
        text-align: center;
    }
    .discount{
        padding-bottom: 50px;
    }
}